# Игнорирование файлов и директорий, не относящихся к приложению
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Игнорирование файлов среды разработки
.env
*.env


# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование управляющих файлов
*.log
*.tmp
*.bak

# Игнорирование виртуальных окружений
venv/
.env/
.venv/

# Игнорирование тестовых файлов и данных
tests/
__tests__/
*.test
*.spec

# Игнорирование конфигурационных файлов
*.local

# Игнорирование файлов документации
docs/

# Игнорирование всех остальных ненужных файлов
.git
.gitignore
docker-compose.yml
README.md
.idea/
